/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "lxgw-wenkai-screen-webfont/style.css";

blockquote[data-callout] {
    --at-apply: p-3 my-4 border-l-0 rounded mix-blend-darken not-italic
        font-mono;

    .callout-title {
        --at-apply: flex items-start gap-1;

        .callout-title-icon {
            --at-apply: flex items-center self-stretch text-lg;

            svg {
                width: 1em;
                height: 1em;
            }
        }

        .callout-title-text {
            --at-apply: font-bold;
        }

        /* callout content */
        & + div {
            --at-apply: bg-slate-50 text-slate-700 whitespace-pre-wrap text-base
                hyphens-none py-3 px-4 min-h-8 rounded my-4;
        }
    }

    &[data-callout="note"] {
        --at-apply: bg-blue-300 / 20;

        .callout-title {
            --at-apply: text-blue-600;
        }
    }

    &[data-callout="summary"],
    &[data-callout="tldr"],
    &[data-callout="abstract"] {
        --at-apply: bg-teal-300 / 20;

        .callout-title {
            --at-apply: text-teal-600;
        }
    }

    &[data-callout="info"] {
        --at-apply: bg-sky-300 / 20;

        .callout-title {
            --at-apply: text-sky-600;
        }
    }

    &[data-callout="todo"] {
        --at-apply: bg-blue-300 / 20;

        .callout-title {
            --at-apply: text-blue-600;
        }
    }

    &[data-callout="important"],
    &[data-callout="hint"],
    &[data-callout="tip"] {
        --at-apply: bg-cyan-300 / 20;

        .callout-title {
            --at-apply: text-cyan-500;
        }
    }

    &[data-callout="success"],
    &[data-callout="done"],
    &[data-callout="check"] {
        --at-apply: bg-green-300 / 20;

        .callout-title {
            --at-apply: text-green-600;
        }
    }

    &[data-callout="faq"],
    &[data-callout="help"],
    &[data-callout="question"] {
        --at-apply: bg-orange-300 / 10;

        .callout-title {
            --at-apply: text-orange-600;
        }
    }

    &[data-callout="attention"],
    &[data-callout="caution"],
    &[data-callout="warning"] {
        --at-apply: bg-orange-300 / 20;

        .callout-title {
            --at-apply: text-orange-600;
        }
    }

    &[data-callout="missing"],
    &[data-callout="fail"],
    &[data-callout="failure"] {
        --at-apply: bg-red-300 / 20;

        .callout-title {
            --at-apply: text-red-600;
        }
    }

    &[data-callout="error"],
    &[data-callout="danger"] {
        --at-apply: bg-red-300 / 30;

        .callout-title {
            --at-apply: text-red-600;
        }
    }

    &[data-callout="bug"] {
        --at-apply: bg-red-300 / 20;

        .callout-title {
            --at-apply: text-red-500;
        }
    }

    &[data-callout="example"] {
        --at-apply: bg-violet-200 / 30;

        .callout-title {
            --at-apply: text-violet-600;
        }
    }

    &[data-callout="cite"],
    &[data-callout="quote"] {
        --at-apply: bg-neutral-200 / 40;

        .callout-title {
            --at-apply: text-neutral-500;
        }
    }
}
