---
import { Image } from "astro:assets";
import BaseHead from "@components/BaseHead.astro";
import ThemeSwitcher from "@components/ThemeSwitcher.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@consts";
import profileImage from "../images/profile.png";

const links = [
    {
        path: "writings",
        title: "Writings",
    },
    {
        path: "notes",
        title: "Notes",
    },
    {
        path: "tags",
        title: "tags",
    },
    {
        path: "about",
        title: "About",
    },
];
---

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            html,
            body {
                height: 100%;
            }

            ul > li > a {
                box-shadow: 4px 4px;
            }
        </style>

        <style is:global>
            body > * {
                width: 100%;
            }
        </style>
    </head>

    <body class="font-sans max-w-2xl mt-24 md:mt-32 m-auto text-center overflow-hidden">
        <div class="absolute text-right indent-8 top-8 right-8">
            <ThemeSwitcher class="" />
        </div>

        <Image src={profileImage} alt="profile image" width="230" height="230" />

        <h1 class="mt-8 text-3xl">Mekhi 冯伟</h1>
        <h2 class="mb-8 text-2xl">Aspire to be a shining programmer.</h2>

        <ul class="text-center mt-4 block">
            {
                links.map(({ path, title }) => (
                    <li class="inline-block">
                        <a class="inline-block mb-5 mr-3 font-semibold text-primary px-1 py-2 floating-btn-mini border-primary" href={import.meta.env.BASE_URL + path}>
                            {title}
                        </a>
                    </li>
                ))
            }
        </ul>
    </body>
</html>
