---
import HeaderLink from './HeaderLink.astro'
import ThemeSwitcher from './ThemeSwitcher.astro'
---

<header class="m-auto">
    <nav class="flex justify-center items-center px-4 sm:px-8">
        <div>
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/writings">Writings</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
            <HeaderLink href="/subscribe">Subscribe</HeaderLink>
        </div>

        <aside>
            <HeaderLink href="https://github.com/fw6" target="_blank">GitHub</HeaderLink>
            <ThemeSwitcher />
        </aside>
    </nav>
</header>
<style>
    header {
        margin: 0em 0 2em;
    }
    h2 {
        margin: 0.5em 0;
    }
</style>
