---
import { Icon } from 'astro-preload/components'

import HeaderLink from './HeaderLink.astro'
import ThemeSwitcher from './ThemeSwitcher.astro'
import { SITE_TITLE } from '../consts'
const links = [
    {
        text: 'Writings',
        href: '/writings',
    },
    {
        text: 'About',
        href: '/about',
    },
    // {
    //     text: 'Subscribe',
    //     href: '/subscribe',
    // },
]
---

<header class="m-auto max-w-3xl py-8 flex justify-between items-center">
    <h1 class="text-sm sm:text-2xl">
        <a href={import.meta.env.BASE_URL}>{SITE_TITLE}</a>
    </h1>

    <nav class="flex gap-x-4">
        {
            links.map(({ text, href }) => (
                <HeaderLink class="font-bold hover:text-primary-focus" href={href}>
                    {text}
                </HeaderLink>
            ))
        }

        <HeaderLink href="https://github.com/fw6" target="_blank"><Icon name="mdi:github" /></HeaderLink>
        <ThemeSwitcher />
    </nav>
</header>
<div class="divider max-w-3xl mx-auto my-0"></div>

<style>
    header {
        margin: 0em 0 2em;
    }
    h2 {
        margin: 0.5em 0;
    }
</style>
